@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
	margin:0;
	padding:0;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0px 10px 10px 10px;
	background-color: #f6f6f6;

}
#header-top {
	display: flex;		
	padding: 10px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	text-align: center;	
}

#header-img {
	flex:1;
}

#header img {
	width:50%;	
}

#header-text {
	flex:4;
	margin-left: 2rem;
}

#nav-bar ul {
	display:flex;
	list-style: none;	
	background-color: #ddd;	
	padding: 10px;	
}

#nav-bar li {
	flex:1;	
	text-align: center;	
}

#nav-bar a {
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	color: #000;
}

#nav-bar a:hover {
	border:2px solid #8b9ab2;
	padding: 10px 40px 10px 40px;
	border-radius: 10px;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: bold;
}

form {	
	display: flex;
	flex-direction: column;
	width: 100%;	
	align-items: center;	
	background-color: white;
	margin-bottom: 10px;

}

form label {
	text-align: center;
	text-transform: capitalize;
	padding: 10px 15px 10px 15px;
	background-color: #8b9ab2;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 0.8rem;
	border-radius: 10px;
	font-weight: bold;
}

.button {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.button:hover {
	
	font-weight: bolder; 
	cursor: pointer;
	background-color: #8b9ab2;
	text-transform: uppercase;
	font-size: 0.8rem;
	padding: 11px;
}

#landing-image {
	height:50vh;
	background-image:url(cameraLense.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}


#packages, #prices {
	display: flex;
}

#packages li {
	padding:3px;
}

#packages h3 {
	color: #8b9ab2;
}

#package-1, #package-2, #package-3, #basicPrice, #standardPrice, #premiumPrice {
	flex:1;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

}

#package-1 {
	background-color: #eee;
}

#package-3 {
	background-color: #eee;
}

#packages img {
	width: 30%;

}

#price-section h1 {
	text-align: center;
	padding: 20px 0px 20px 0px;
	background-color: #bbb;
	font-size: 3rem;
	font-weight: bold;
}

#basicPrice {
	background-color: #c48c3e;
	height: 30vh;
	display: flex;
	justify-content: center;
}
#standardPrice {
	background-color: #d3cdb1;
	height: 30vh;
	display: flex;
	justify-content: center;
}
#premiumPrice {
	background-color: #edd040;
	height: 30vh;
	display: flex;
	justify-content: center;
}

#sample-section {
	display: flex;
	flex-direction: row;
}

#sample1 {
	flex:1;
}
#sample2 {
	flex:1;
}
#sample3 {
	flex:1;
}

#sample-section img {
	width: 100%;	
}

#samples-title {
	text-align: center;
	padding: 20px 0px 20px 0px;
	background-color: #bbb;
	font-size: 3rem;
	font-weight: bold;
}


footer {
	font-family: sans-serif;
	text-align: center;
	padding: 30px 0px 20px 0px;
	background-color: #f6f6f6;
	font-size: 0.8rem;
}

@media (min-width: 800px) {
	#nav-bar a:hover {
		padding: 10px 80px 10px 80px;
}
#nav-bar a {
	padding: 0px 100px 0px 100px;
}
#header-top {
	font-size: 1.5rem;
	align-items: center;
}
}

@media (max-width: 700px) {
#packages, #prices {
	display: inline-block;
}
#prices {
	margin: auto;
	width: 100%;
}
#basicPrice, #standardPrice, #premiumPrice {
	height: 20vh;
}
#sample-section {
	display: inline-block;
}
}
